/* styles.css */
body {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(assets/image/9e65e21884eb9eacd433bf2fdf08862c.jpg);
  /*color: #fff;*/
  backdrop-filter: 0.5;
  
}

.hero {
 /* background: linear-gradient(135deg, #ff4e00, #ec9f05);*/
  padding: 2rem;
  text-align: left;
 /* background-image: url(assets/image/75f1932039ffc41f6df93a4f2f9e2d2e.jpg);*/
   
 background-size:cover;
    border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

}
.hero video{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;

}

@media(min-aspect-ratio: 16/9){
  .hero video{
    width: 50%;
    height: auto;

  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items:flex-start;

}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}
.navbar li a{
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-decoration: none;
    color: #ffffff;

}

.navbar li{
    background: transparent;
  color: #f8f1f1;
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-decoration: none;
display: block;
}
li a:haver{
  background: #ffffff;
  transition: 0.5s;
}
.navbar a:hover{
  color:#fff9f5
}


.hero-content {
  margin-top: 3rem;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #fff7f7;
}

.highlight {
  color: #ffffff;
}

.subtitle {
  font-size: 1.2rem;
  margin-top: 1rem;
  color: #fff7f7;
}

.stats {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  font-weight: bold;
  color: #ffffff;
}
.personal{
margin: 150px;
padding: 0px;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;

}
.personal img{
  overflow: hidden;
  transition: transform 0.3s ease;
display: flex;
align-items: center;
gap: 40px;
border-radius: 30px;
padding: 40PX;

}


.img:hover {
  transform: scale(1.05);
}

.p{
 max-width: 400px;

}
.p h1{
  margin: 0 0 10px;
  font-size: 24px;

}
.p p{
  font-size: 16px;
  color:#555;
}
.design-section {
  background-color: #8b1a1a;
  text-align: center;
  height: auto;
}

.accent {
  color: #ffffff;
  font-weight: bold;
  display: flex;
  flex: 1;
}

.btn-primary {
  background-color: #000000;
  color: #fff7f7;
  cursor: pointer;
  position: absolute;
  display: center;
 left: 50%;
 border-radius: 15px;
 box-shadow: #aea9a9;
 padding: 5px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  background-color: #000000;
  justify-content: space-around;
  padding: 30px 15px;
  margin-top: 20px;
}


.box {
  width: 300px;
  background-color: #000000;
  margin: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(255, 214, 214, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease;

}
.box:hover {
  transform: scale(1.05);
}
.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: auto;
    transition: transform 0.3s ease;

}
.h h1{
  text-align: center;
  font-weight: bold;
    border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

}

.footer h1{
  font-size: large;
  justify-content: center;
  text-align: center;
  margin-top: 60px;
}
.me{
  font-size: small;
  margin: 0px;
  color: white;
  display: flex;
  justify-content:space-around;

}
.featured {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 30px 15px;
  border-top-left-radius: 30px;
  border-top-right-radius: 20px;
}

.box {
  width: 200px;
  margin: 3px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(15, 14, 14, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease;
  padding: 3%;
}

.box:hover {
  transform: scale(1.05);
}

.box img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.box h2 {
  padding: 15px;
  color: #fff8f8;
}
.box a{
  text-decoration: none;
  color: #fff9f9;
}

